<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storage_1</key>
	<dict>
		<key>title</key>
		<string>Storage 1</string>
		<key>path</key>
		<string>levels/storage_1/storage_1.lvl</string>
		<key>unit_count</key>
		<integer>2</integer>
		<key>thumb</key>
		<string>storage_1_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>storage_2</string>
		</array>
	</dict>
	<key>storage_2</key>
	<dict>
		<key>title</key>
		<string>Storage 2</string>
		<key>path</key>
		<string>levels/storage_2/storage_2.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>storage_2_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>storage_3</string>
		</array>
	</dict>
	<key>storage_3</key>
	<dict>
		<key>title</key>
		<string>Storage 3</string>
		<key>path</key>
		<string>levels/storage_3/storage_3.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>storage_3_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>storage_4</string>
		</array>
	</dict>
	<key>storage_4</key>
	<dict>
		<key>title</key>
		<string>Storage 4</string>
		<key>path</key>
		<string>levels/storage_4/storage_4.lvl</string>
		<key>unit_count</key>
		<integer>1</integer>
		<key>thumb</key>
		<string>storage_4_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>storage_shaman</string>
		</array>
	</dict>
	<key>storage_shaman</key>
	<dict>
		<key>title</key>
		<string>Storage Shaman</string>
		<key>path</key>
		<string>levels/storage_shaman/storage_shaman.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>storage_shaman_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>lab_1</string>
		</array>
	</dict>
	<key>lab_1</key>
	<dict>
		<key>title</key>
		<string>Lab 1</string>
		<key>path</key>
		<string>levels/lab_1/lab_1.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>lab_1_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>lab_2</string>
		</array>
	</dict>
	<key>lab_2</key>
	<dict>
		<key>title</key>
		<string>Lab 2</string>
		<key>path</key>
		<string>levels/lab_2/lab_2.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>lab_2_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>lab_3</string>
		</array>
	</dict>
	<key>lab_3</key>
	<dict>
		<key>title</key>
		<string>Lab 3</string>
		<key>path</key>
		<string>levels/lab_3/lab_3.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>lab_3_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>plant_1</string>
		</array>
	</dict>
	<key>plant_1</key>
	<dict>
		<key>title</key>
		<string>Plant 1</string>
		<key>path</key>
		<string>levels/plant_1/plant_1.lvl</string>
		<key>unit_count</key>
		<integer>2</integer>
		<key>thumb</key>
		<string>plant_1_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>plant_2</string>
		</array>
	</dict>
	<key>plant_2</key>
	<dict>
		<key>title</key>
		<string>Plant 2</string>
		<key>path</key>
		<string>levels/plant_2/plant_2.lvl</string>
		<key>unit_count</key>
		<integer>1</integer>
		<key>thumb</key>
		<string>plant_2_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>plant_shaman</string>
		</array>
	</dict>
	<key>plant_shaman</key>
	<dict>
		<key>title</key>
		<string>Plant Shaman</string>
		<key>path</key>
		<string>levels/plant_shaman/plant_shaman.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>plant_shamans_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>observatory_1</string>
		</array>
	</dict>
	<key>observatory_1</key>
	<dict>
		<key>title</key>
		<string>Observatory 1</string>
		<key>path</key>
		<string>levels/observatory_1/observatory_1.lvl</string>
		<key>unit_count</key>
		<integer>1</integer>
		<key>thumb</key>
		<string>observatory_1_thumb.png</string>
		<key>unlock_level</key>
		<array>
			<string>observatory_2</string>
		</array>
	</dict>
	<key>observatory_2</key>
	<dict>
		<key>title</key>
		<string>Observatory 2</string>
		<key>path</key>
		<string>levels/observatory_2/observatory_2.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>observatory_2_thumb</string>
		<key>unlock_level</key>
		<array>
			<string>observatory_shaman</string>
		</array>
	</dict>
	<key>observatory_shaman</key>
	<dict>
		<key>title</key>
		<string>Observatory Shaman</string>
		<key>path</key>
		<string>levels/observatory_shaman/observatory_shaman.lvl</string>
		<key>unit_count</key>
		<integer>3</integer>
		<key>thumb</key>
		<string>observatory_1_thumb.png</string>
		<key>final</key>
		<true/>
		<key>unlock_level</key>
		<array/>
	</dict>
</dict>
</plist>
